/* sarı kod:#eaff82
pembe : f07cc4
jmavi:#071e26 
* tüm html etiketlerini etkiler demek 

 */
 @import url('https://fonts.googleapis.com/css2?family=Griffy&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap');
*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
    border:0;
}
a,
a:link,
a:visited{
    text-decoration: none;
    outline: none;
    border:none;
}

ul,
li{
    list-style: none;
    margin: 0;
    padding:0;
}

section,
span,
p{
    margin:0;
    padding:0;
    outline:none;
    border:none;
}

.container{
    max-width:1170px;
    margin: 0 auto;  
    padding:0 15px;
    
    
}


.a{
    background-color:black;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    text-align: center;
    font-family: 'Griffy', cursive;
    font-size: 70px;
    color:#bcffd7 ;
}

.header{
    
    background-image: url(sahnekopek.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    text-align: center;
    font-family: 'Griffy', cursive;
    font-size: 70px;
    color:#fff8cc;

}

 .header-menu{
   margin-top: 120px;
   margin-bottom: 100px;
   padding-top: 2%;
   font-family: 'Bai Jamjuree', sans-serif;
   font-size: 15px;



   
} 
header:first-letter{
    font-size:150px ;   
}
.header-menu li :hover {
   
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 15px;
    
    background-color: transparent;
    border-radius: 50%;
    /* padding: 30% 17%;     */
   
    text-align: center;
    color: antiquewhite;
    margin-right:auto;
    margin-left:auto;
   
}
li{

   
    margin-top: 20px;
    color: black;
   
}

 li a i:hover{

    
    color: black;
}
li a i{
    color:black;
}
 .btn-uclu{
    display:block;
    background-color: #fff8cc;
    border-radius: 50%;
    padding: 10px 15px;    
    width: 30%; 
    height: 17%;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-right:auto;
    margin-left:auto;
 
} 


/* about css basla------------------------------------------------------
 */
 .about{
    
    background-image: url(mixap.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
 }


.about-content{
    padding-top: 7%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 20%;
    padding-right: 20%;
    
  
    
    /* flex-wrap: wrap; */
}
.about-image img{
    margin-top:10ch;
    margin-bottom: 20ch;
    width: 70%;
    height: 70%;
    object-fit: cover;
    position: relative;
    border:1px solid #071e26 ;
    box-shadow:5px 5px 5px rgb(255, 255, 255);

}

/* -------------------------------------------------------------------------------------------mixbşla */

/* -----------------------------------------------------mix bit */
h4{
    margin-bottom: 25px;
    text-align: center;
    font-size: 24px;
    color: antiquewhite;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: bold;
}
p{
    font-size: 16px;
    margin-bottom: 5px;
    color: antiquewhite;
}
#menu-icon{
    font-size:25px ;
    display: none; 
    color: antiquewhite;


}

/* ------------------------footer başlangıç---------------------- */
.footer{
    margin: 0;
    background-color:#071e26 ;
    align-items: center;
   
}
.footer h2{
    width: 100%;
    text-align: center;
    margin: auto;
    color: antiquewhite;
    font-size: 30px;
    font-weight: 600;
    padding: 30px;
}
.footer-copyright{
    color: antiquewhite;
    text-align: center;
    flex-basis:55% ;
    line-height: 2px;
    font-size: 12px;
    margin-bottom: 40px;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: antiquewhite;

}

.footer-social{
 color:#fff;
 font-size: 30px;
 margin-bottom: 60px;
}

/* -----------footer bitiş-------------- */
h5{
    text-align: center;
    font-family: 'Griffy', cursive;
    font-size: 90px;
    color:rgb(0, 0, 0);
    padding-top: 2rem;
    padding-bottom: 5rem;
    
}


.oklu-img-breed{
    display:flex;
    align-items:center;
    justify-content:center;
    padding-bottom: 70%;
    /* background-image: url(ap.jpg); */
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
   
  
}




.logo{

    font-size: 80px;
    cursor:pointer;
    color:antiquewhite;


}





select {
    text-align:center;
    align-items:center;
    justify-content:center;
    width: 20%;
    margin:1%;
    padding: 16px 20px;
    border: none;
    color: antiquewhite;
    background-color:#071e26 ;
   font-size: 20px;
    
}
.ortala2{
    padding-top: 7%;
    padding-bottom: 7px;
}


 
input[type=submit]{
     text-align:center;
    align-items:center;
    justify-content:center;
    background-color: #46004a;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
.ortala1{
   
    text-align:center;
    align-items:center;
    justify-content:center;
    background-image: url(kopeksahnesi.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    text-align: center;
    
}
.mix2{
   padding-top: 7%;
   padding-bottom: 15%;
    text-align:center;
    align-items:center;
    justify-content:center;  
    background-image: url(mixap.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}
.mix2 img{
    padding-top: 4%;
    background:transparent;
    padding:8px;   
    border:1px solid #071e26 ;
    box-shadow:5px 5px 5px rgb(255, 255, 255);
}
h6{
font-size: 70px;
font-family: 'Griffy', cursive;
color: antiquewhite;

}
.mix2baslik{
    padding-bottom: 4%; 
    padding-top: 4%; 
}
.mb2{
    padding-bottom: 2%; 
    padding-top: 2%; 
}
.breed-content{

        display: block;
    align-items: center;
    justify-content: space-around;
    text-align: center;
   background-image: url(mixap.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 6%;
}
.kucuk{
    padding-top: 7%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 20%;
    padding-right: 20%;

}
.t{
    
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 2%;
    padding-left: 1%;
    padding-right: 1%;

    font-size: 16px;
    color:antiquewhite;

}
.r img{
    margin-top:1%;
    margin-bottom: 1%;
    width: 300px;
    height:300px ;
    object-fit: cover;
    position: relative;
    border:1px solid #071e26 ;
    box-shadow:5px 5px 5px rgb(255, 255, 255);
}


















































@media only screen and (max-height:540px){
.header-menu ul{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    position:absolute;
    top: 30px;
    left:0;
    background-color: antiquewhit;
   width: 100%;
   overflow: hidden;
   transition:max-height .5sn;
}
.header-menu ul li{
    margin-right: 50px;
   
}
.header-menu ul li a{
    color:antiquewhite;
}
/* .header-logo{
    display: flex;
    margin-left: 50px;
} */
.header-logo #menu-icon{
    display: block;
   position: fixed;
   top: 10px;
   right: 10px;
    cursor:pointer;
    color: antiquewhite;
}
.btn-uclu{
    
    display:block; 
    background-color:rgb(28, 18, 17);
    /* color:#000000; */
    padding: 0px 0px; 
    width: 200px; 
    text-align: center;
    border-radius: 0px;
    margin-top: 0px;
    height: 34px;
   
}
li:hover {background-color:rgb(29, 21, 21)}
.about-content{
    display: flex;
    align-items:center;
    justify-content:flex-start;
    flex-wrap: wrap;
       
margin-right:auto;
margin-left:auto;
padding-bottom: 10%;
}
.about-image img{
width: 100%;
margin-top:50px ;
margin-bottom:40px;
}


}




@media only screen and (max-width:900px){
    .about-content{
        display: flex;
        align-items:center;
        justify-content:flex-start;
        flex-wrap: wrap;
           
    margin-right:auto;
    margin-left:auto;

    }
 .about-image img{
    width: 100%;
    margin-top:50px ;
    margin-bottom:40px;
 }



.kucuk{
    display: block;
    padding-top: 7%;
    
    align-items: center;
    justify-content: space-around;
    padding-left: 20%;
    padding-right: 20%;
}
.r{
    width: 100%;
}
.t{
    width: 100%;
}
 p{

    width: 100%;
 }

 
}
